<!DOCTYPE html>
<html lang="en">
  <header>
  <% include ../views/partials/_header.ejs %>
  </header>
    <body>
      <h1> List of shortened URLs! </h1>

  <% for(url of urls) { %>
      <a href="/urls/<%= url.shortURL %>">
        <%= url.shortURL %> </a>
        -->
        <a href="<%= url.longURL %>"> <%= url.longURL %> </a>


      <form method="GET" action="/urls/<%= url.shortURL %>/edit?">
        <button type="submit">Edit</button>
      </form>

      <form method="POST" action="/urls/<%= url.shortURL %>?_method=DELETE">
        <button type="submit">Delete</button>
      </form>

    <% } %>

</body>
</html>