<!DOCTYPE html>
<html lang="en">
  <header>
  <% include ../views/partials/_header.ejs %>
  </header>
    <body>
      <h1> List of shortened URLs! </h1>

    <p> <% for(key in urls) { %> </p>
      <a href="/urls/<%= key %>">
        <%=key %> </a>
        -->
        <a href="<%= urls[key] %>"> <%= urls[key] %> </a>


      <form method="GET" action="/urls/<%= key %>/edit?">
        <button type="submit">Edit</button>
      </form>

      <form method="POST" action="/urls/<%= key %>?_method=DELETE">
        <button type="submit">Delete</button>
      </form>

    <% } %>

</body>
</html>